*{
	margin:0;
	padding:0;
}
body{
	background:black;
	color:#B2B4B6; 
}

#content h1{
	text-align:center;
	font-size:40px;
	color:#FFFFFF;
	font-family: Impact, Charcoal, sans-serif; 
}
nav ul li{
	float:left;
	width:110px; 
	font-weight:bold;
	list-style-type:none;
	font-size:18px;
	text-align:center; 
}
nav ul li a{
	text-decoration:none;
	color:lightgrey; 
}
nav ul li a:hover{
	text-decoration:none;
	color:#FFF; 
}
.hover{
	border-bottom:5px solid #01B0F0;
}
#logo{
	width:96px;
	height:96px;
	display:block;
	margin:auto;
}
header{
	height:180px;
}
nav{
	position:relative;
	top:-30px;
}
#query{
	width:1200px;
	height:auto;  
	background:radial-gradient(#aaa, white);
	position:relative;
	top:30px;
	margin:auto; 
	text-align:center;
}
#content h2{
	color:black;
	margin:auto;
	width:300px;
	position:relative;
	top:50px;
	display:block;
	clear:both;
}	
#films,#anime,#tvshow{
	width:1200px;
	height:auto;
	position:relative;
	top:-40px;
}

#films ul{
	list-style-type:none;
	display:inline-block;
	width:1160px;
	margin:auto;
}
#films ul li{
	float:left;
	width:150px;
	height:200px;  
	margin-left:11px; 
	margin-bottom:30px;
	cursor:pointer;
	border:1px solid black;
	color:black;
	background-color:#FFF;
}
#titreFilm{
	background-color:#FFF;
	border:1px solid black; 
	width:150px;
	font-size:12px; 
	position:relative;
	left:-1px;
	top:-4px;
	border-top:none;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
aside{
	width:400px;
	height:30px;
	position:relative;
	left:800px;
	top:-95px;
	z-index:1;
}
form[name="searchbar"] input{
	border-top-left-radius:none;
	border-bottom-left-radius:none;
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
	border:1px solid white;
	position:relative;
	height:30px;
	width:250px; 
	top:-38px; 
	left:15px;
	z-index:2;
	background:none;
	color:white;
}
#loupe{
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
	border-top-right-radius:none;
	border-bottom-right-radius:none;
	border:1px solid white;
	border-right:none;
	position: relative;
	height:28px;
	width:30px; 
	top:-68px; 
	left:623px;
	z-index:2;
	background:url("../images/loupe.png") no-repeat center;
	color:white;
	cursor:pointer;
}
.select{
	width:170px;
	text-align:left;
}
form[name="genre"] select{
	position:relative;
	top:-22px;
	left:77px;
	background:none;
	border:none;
	color:#01B0F0;
	font-weight:bold;
	font-size:18px;
}
form[name="trie"] select{
	position:relative;
	top:-22px;
	left:100px;
	background:none;
	border:none;
	color:#01B0F0;
	font-weight:bold;
	font-size:18px;
}
option{
	background:none;
}
#plus{
	width:25px;
	height:25px;
	cursor:pointer;
}
#addLightbox{
	width:801px;
	height:700px;
	background-color:#FFF;
	position:fixed;
	left:385px;
	border:3px solid grey; 
	top:130px;
	display:none;
	z-index:10;
}
#addLightbox h2{
	text-align:center;
	text-decoration:underline;
	position:relative;
	top:-10px;
}

form[name="addLightbox"] table{	
	width:330px;
	height:auto;
	margin:auto;
	position:relative;
	top:25px;
}
.w150px{
	width:180px;
}

form[name="addLightbox"] table{	
	width:300px;
	height:auto;
	margin:auto;
	position:relative;
	top:80px;
}
.w150px{
	width:150px;
}
form[name="addLightbox"] table td{
	color:black;
}
form[name="addLightbox"] input[type="text"]{
	border: 2px solid #DDD;
	background: #FFF none repeat scroll 0% 0%;
	min-height: 26px;
	margin-bottom:10px; 
}
form[name="addLightbox"] select{
	margin-bottom:10px;
	height:32px;
}
form[name="addLightbox"] input[type=text]:focus{
	border: 2px solid #555;
}
#close{
	margin:right;
	cursor:pointer;
	position:relative;
	left:390px;
	color:black;
	font-size:25px;
}
#close2{
	margin:right;
	cursor:pointer;
	position:relative;
	left:282px;
	color:black;
	font-size:25px;
}
.submit{
	display:inline-block;
	border-radius: 2px;
	background: #0A0 none repeat scroll 0% 0%;
	text-align:center;
	color:#FFF;
	box-shadow: 0px 3px 0px #DDD;
	width: 150px;
	height: 30px;
	position:relative;
	top:80px;
	cursor:pointer;
	font-weight:bold;
	font-size:18px;
}
textarea{
	margin-bottom:10px;
}
#infoMovie{
	width:600px;
	height:500px;
	background-color:#FFF;
	border:5px solid lightgrey;
	border-radius:10px;
	z-index:11;
	position:fixed;
	top:171px;
	left:490px;
	display:none;
}
#infoMovie2{
	width:600px;
	height:500px;
	background-color:#FFF;
	border:5px solid lightgrey;
	border-radius:10px;
	z-index:11;
	position:fixed;
	top:171px;
	left:490px;
	display:none;
}
#feedback{
	display:none;
}
#infoMovie img{
	border:1px solid black;
	display:block;
	float:left;
	margin:auto;
}
#infoMovie2 img{
	border:1px solid black;
	display:block;
	float:left;
	margin:auto;
}
#infoMovie #tab{
	width: 335px;
	height:36px;
	padding-left:10px; 
	color:#000;
	display:inline-block;
	text-align:justify;
}
#infoMovie2 #tab{
	width: 335px;
	height:36px;
	padding-left:10px; 
	color:#000;
	display:inline-block;
	text-align:justify;
}
#infoMovie table{
	border-collapse:collapse;
}
#infoMovie2 table{
	border-collapse:collapse;
}
#contentMovie{
	width:500px;
	height:300px;
	margin:10px auto;
}
#infoMovie h2{
	position:relative;
	top:-10px;
	text-align:center;
	font-size:30px;
}
#infoMovie2 h2{
	position:relative;
	top:-10px;
	text-align:center;
	font-size:30px;
}
#coverdesc{
	width:480px;
	height:111px;
	padding:5px 5px 5px 10px; 
	color:#000;
	text-align:justify;
	position:relative;
	top:10px;
	overflow-y:scroll; 
	border:1px solid black;
}
#edit,#delete{
	position:relative;
	top:20px;
}
h3{
	color:black;
	font-size:25px;
	position: relative;
	text-decoration:underline;
	margin-bottom:20px;
}
form[name="triFilm"] h4{
	color:#000;
	font-size:20px;
	text-decoration:underline;
	display:inline;
}
form[name="triFilm"] select{
	background:#FFF;
	border: 2px solid grey; 
	width:150px;
	height:30px;
	margin-bottom:20px;
}
#val{
	position: relative;
	top:0px;
}
h5{
	color:#000;
	font-size:18px;
	text-align:left;
	text-decoration: underline;
	margin-left:40px;
	margin-bottom: 10px;
}